{% extends "layout.html" %}

{% block content %}
  <section role="main" class="container-fluid">
    <div class="cor-login">
      {% if loggedOut %}
        <div class="alert alert-success" role="alert">
          Sucessfully logged-out
        </div>
      {% endif %}

      <form action="/auth/login" method="POST" name="login" accept-charset="utf-8" class="cor-login__form">

      <div class="panel panel-default">

        <div class="panel-heading">
          Sign In
        </div>

        <div class="panel-body">

          {% if error %}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
          </div>
          {% endif %}

          <p class="form-group cor-login__form-row">
            <label for="username" class="cor-login__label">
              Username
            </label>
            <input type="text" name="username" placeholder="Username" class="form-control cor-login__form-input" />
          </p>

          <p class="form-group cor-login__form-row">
            <label for="password"  class="cor-login__label">
              Password
            </label>
            <input type="password" name="password" class="form-control cor-login__form-input" />
          </p>

          <input type="submit" class="btn btn-primary btn-lg btn-block cor-login__form-submit" value="Go" />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
