{% extends "layout.html" %}

{% block content %}
  <section role="main">
    <div class="s-login">
      {% if loggedOut %}
        <div class="callout success" role="alert">
          Sucessfully logged-out
        </div>
      {% endif %}

      <form action="/auth/login" method="POST" name="login" accept-charset="utf-8" class="s-login__form">
        <div class="m-panel">
          <div class="m-panel__header">
            <h3>Sign In</h3>
          </div>

          <div class="m-panel__content">
            {% if error %}
            <div class="callout alert" role="alert">
              <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
              <span class="show-for-sr">Error:</span>
              {{error}}
            </div>
            {% endif %}

            <p class="s-login__form-row">
              <label for="username" class="s-login__label">
                Username
              </label>
              <input type="text" name="username" id="username" placeholder="Username" class="s-login__form-input m-text-field m-text-field--light" />
            </p>

            <p class="s-login__form-row">
              <label for="password"  class="s-login__label">
                Password
              </label>
              <input type="password" name="password" id="password" class="s-login__form-input m-text-field m-text-field--light" />
            </p>

            <div class="s-login__submit-zone">
              <input type="submit" class="s-login__form-submit button primary" value="Go" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
